<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Blog Post</title>
    <link rel="stylesheet" href="/styles/edit.css">
</head>
<body>
    <h1>Edit the Blog Post</h1>
    <form action="/edit-blog/<%= blog.id %>" method="POST">
        <div>
            <label for="title">Edit Title:</label>
            <br>
            <input type="text" id="title" name="title" value="<%= blog.title %>" required>
        </div>
        <div>
            <label for="description">Edit Description:</label>
            <br>
            <textarea id="description" name="description" rows="9" required><%= blog.description %></textarea>
        </div>
        <div>
            <br>
            <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>
